.column-img1 {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
  }
  
  .column-img-solo1 {
    display: flex;
    justify-content: center;
  }
  
  .img-team1 {
    width: 7rem;
    height: auto;
  }

  .section-team1 {
    margin-bottom: 5rem;
  }