.column-img {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;  
  }
  
  .column-img-solo {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
  
  .img-team {
    width: 7rem;
    height: auto;
  }

  .section-team {
    margin-bottom: 5rem;
  }

  .GenreButton {
    background-color: darkgrey;
    border: none;
  }