.navbar {
    display: flex;
    justify-content: center;
    background-color:black;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #f752e0;
    margin-bottom: 1rem;

}

.main-logo {
    width: 100vw;
    height: 28vh;
}