.navbar {
    display: flex;
    justify-content: center;
    background-color:black;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #f752e0;

}

.main-logo {
    width: 100vw;
    height: 30vh;
}
@media screen and (min-width: 700px) {
    .main-logo {
      width: 40vw;
      height: 40vh;
    }
  }