.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dimgrey;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;

}

.main-logo1 {
  width: 5rem;
  height: 5rem;
}
